body {
  background-color: #666666;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 1.5rem;
  color: whitesmoke;
  text-align: center;
}

h3 {
  margin-top: 2rem;
  font-size: 1rem;
  text-align: left;
  color: whitesmoke;
}

.slider-wrapper {
  margin: 0 auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

input[name="point"] {
  display: none;
  visibility: hidden;
}

.slider {
  width: 400%;
  height: 100%;
  display: flex;
}

.slider__slide {
  width: 25%;
  height: 100%;
  transition: 0.6s;
}

.slider__slide img{
  margin-bottom: -1.5rem;
  width: 100%;
  max-height: 50rem;
  object-fit: contain;
}

.slider__nav {
  margin-top: -4.5%;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.slider__nav label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.slider__nav label:hover {
  transform: scale(1.2);
}

.slider__nav label:active {
  transform: scale(0.8);
}

.slider__nav-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  background-color: #fbec5d;
  border-radius: 50%;
}

.slider__nav-sub-dot {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}

label:hover .slider__nav-dot .slider__nav-sub-dot,
label:active .slider__nav-dot .slider__nav-sub-dot,
#slide1:checked ~ .slider__nav label:nth-of-type(1) .slider__nav-sub-dot,
#slide2:checked ~ .slider__nav label:nth-of-type(2) .slider__nav-sub-dot,
#slide3:checked ~ .slider__nav label:nth-of-type(3) .slider__nav-sub-dot,
#slide4:checked ~ .slider__nav label:nth-of-type(4) .slider__nav-sub-dot {
  background-color: #545454;
}

#slide1:checked ~ .current {margin-left: 0;}

#slide2:checked ~ .current {margin-left: -25%;}

#slide3:checked ~ .current {margin-left: -50%;}

#slide4:checked ~ .current {margin-left: -75%;}

@media (max-width: 1928px) {
  .slider__nav {
    margin-top: -3%;
  }
}

@media (max-width: 1024px) {
  .slider__nav {
    margin-top: -6%;
    height: 3rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 0.8rem;
    color: whitesmoke;
    text-align: center;
  }

  h3 {
    font-size: 0.6rem;
  }

  .slider__slide img{
    margin-bottom: 1rem;
  }

  .slider__nav {
    justify-content: center;
    margin-top: -14.5%;
    height: 3rem;
  }

  h3 {
    margin-top: 1rem;
  }
}